body{

font-family: Arial;

background: linear-gradient(to right, brown, black);

color:white;

text-align:center;

}

img{
    width: 100px;
    height: 100px;
}   

header{

background:black;

padding:20px;

}


nav{

background:brown;

padding:15px;

}


nav ol{

display:flex;

justify-content:center;

gap:20px;

}


nav a{

color:white;

}


.producto{

background:white;

color:black;

padding:20px;

margin:20px;

display:inline-block;

border-radius:10px;

transition:0.5s;

}


.producto:hover{

transform:scale(1.1);

}


img{

width:200px;

}


button{

background:orange;

padding:10px;

border:none;

margin:5px;

}


footer{

background:rgba(0, 0, 0, 0.548);

padding:20px;

}